#apply-no .list-checkbox{
	width: 5%;
}
#apply-no .design-no{
	width: 15%;
}
#apply-no .operator-time{
	width: 15%;
}
#apply-no .gender{
	width: 10%;
}
#apply-no .series{
	width: 10%;
}
#apply-no .source{
	width: 10%;
}
#apply-no .details{
	width: 10%;
}
#apply-no .operator{
	width: 25%;
}

#repurchase-list .list-checkbox{
	width: 5%;
}
#repurchase-list .design-no{
	width: 15%;
}
#repurchase-list .operator-time{
	width: 15%;
}
#repurchase-list .gender{
	width: 10%;
}
#repurchase-list .series{
	width: 10%;
}
#repurchase-list .source{
	width: 10%;
}
#repurchase-list .details{
	width: 10%;
}
#repurchase-list .update-info{
	width: 15%;
}
#repurchase-list .operator{
	width: 10%;
}

/*下单表*/
#order-table .list-checkbox{
	width: 5%;
}
#order-table .receipt-no{
	width: 15%;
}
#order-table .operator-time{
	width: 15%;
}
#order-table .gender{
	width: 10%;
}
#order-table .series{
	width: 10%;
}
#order-table .source{
	width: 10%;
}
#order-table .update-info{
	width: 15%;
}
#order-table .operator{
	width: 20%;
}