#apply-no .list-checkbox{
	width: 5%;
}
#apply-no .design-no{
	width: 15%;
}
#apply-no .operator-time{
	width: 15%;
}
#apply-no .gender{
	width: 10%;
}
#apply-no .series{
	width: 10%;
}
#apply-no .source{
	width: 10%;
}
#apply-no .details{
	width: 10%;
}
#apply-no .operator{
	width: 25%;
}

#repurchase-list .list-checkbox{
	width: 5%;
}
#repurchase-list .design-no{
	width: 15%;
}
#repurchase-list .operator-time{
	width: 15%;
}
#repurchase-list .gender{
	width: 10%;
}
#repurchase-list .series{
	width: 10%;
}
#repurchase-list .source{
	width: 10%;
}
#repurchase-list .details{
	width: 10%;
}
#repurchase-list .update-info{
	width: 15%;
}
#repurchase-list .operator{
	width: 10%;
}

/*工艺单*/
#process-sheet .list-checkbox{
    width: 5%;
}
#process-sheet .design-no{
    width: 10%;
}
#process-sheet .operator-time{
    width: 10%;
}
#process-sheet .gender{
    width: 5%;
}
#process-sheet .series{
    width: 5%;
}
#process-sheet .source{
    width: 5%;
}
#process-sheet .details{
    width: 10%;
}
#process-sheet .update-info{
    width: 10%;
}
#process-sheet .apply-maker{
    width: 10%;
}
#process-sheet .update-craft{
    width: 10%;
}
#process-sheet .apply-sample{
    width: 10%;
}
#process-sheet .apply-update-maker{
    width: 10%;
}

/*下单表*/
#order-table .list-checkbox{
	width: 5%;
}
#order-table .receipt-no{
	width: 15%;
}
#order-table .operator-time{
	width: 15%;
}
#order-table .gender{
	width: 10%;
}
#order-table .series{
	width: 10%;
}
#order-table .source{
	width: 10%;
}
#order-table .update-info{
	width: 15%;
}
#order-table .operator{
	width: 20%;
}

/*产前版发料*/
#prenatal-issue1 .list-checkbox{
    width: 5%;
}
#prenatal-issue1 .design-no{
    width: 15%;
}
#prenatal-issue1 .operator-time{
    width: 15%;
}
#prenatal-issue1 .gender{
    width: 10%;
}
#prenatal-issue1 .series{
    width: 10%;
}
#prenatal-issue1 .source{
    width: 10%;
}
#prenatal-issue1 .operator{
    width: 35%;
}

#prenatal-issue2 .list-checkbox{
    width: 5%;
}
#prenatal-issue2 .design-no{
    width: 10%;
}
#prenatal-issue2 .operator-time{
    width: 15%;
}
#prenatal-issue2 .gender{
    width: 10%;
}
#prenatal-issue2 .series{
    width: 10%;
}
#prenatal-issue2 .source{
    width: 10%;
}
#prenatal-issue2 .fabric-status{
    width: 15%;
}
#prenatal-issue2 .accessory-status{
    width: 15%;
}
#prenatal-issue2 .operator{
    width: 10%;
}