article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}
html,body{font-family: 'Microsoft YaHei';background: #32323a; width: 100%; height: 100%;overflow: hidden;min-width: 960px;}

ul{list-style: none;}

.index-menu{
	height: 50px;
	background: #3c8dbc;
}
.menu-logo{
	background: #367fa9;
	display: inline-block;
	width: 12%;
	height: 100%;
	color: #fff;
	text-align: center;
}
.menu-logo p{
	padding: 9px 0;
	font-size: 20px;
}

.index-content{
	height: 100%;
	overflow: hidden;
}
.index-sidenav{
	width: 12%;
	background: #333;
	float: left;
	/*height: 100%;*/
}

#index-page{
	float: left;
	background: #ecf0f5;
	display: inline-block;
	height: 100%;
	width: 88%;
}