<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>总经办</title>
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./gmo/gmo.css">
</head>
<body>
	<div class="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#filing" id="filing-enter" v-on:click="toggle(0, [0], ['filing'])">建档</a></li>
					<li role="presentation"><a href="#drawing-in" id="drawingin-enter" v-on:click="toggle(1, [1], ['drawing'])">入图</a></li>
					<li role="presentation"><a href="#front-sample" id="frontsample-enter" v-on:click="toggle(2, [], [''])">头版样衣</a></li>
					<li role="presentation"><a href="#trial-version" id="trialversion-enter" v-on:click="toggle(3, [], [''])">审版</a></li>
					<li role="presentation"><a href="#color-sample-done" id="colorsampledone-enter" v-on:click="toggle(4, [], [''])">齐色样完成</a></li>
					<li role="presentation"><a href="#materials-in-store" id="materialsinstore-enter" v-on:click="toggle(5, [], [''])">面辅料入仓</a></li>
					<li role="presentation"><a href="#materials-in" id="materialsin-enter" v-on:click="toggle(6, [], [''])">面辅料入库</a></li>
					<li role="presentation"><a href="#wear-in" id="wearin-enter" v-on:click="toggle(7, [], [''])">成衣入库</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div class="list-box" id="filing" v-show="currentIndex === 0">
					<div class="tool-list"></div>
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
								<dd class="operator">建档完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in filing">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button v-if="item.source == 1" type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#filingModal" v-on:click="getChosenId( item.design_no )">提交</button>
                                    <button v-else type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#filingOutModal" v-on:click="getChosenId( item.design_no )">提交</button>
								</dd>
							</dl>
						</div>
					</div>
					<div class="modal fade" id="filingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  	<div class="modal-dialog" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title" id="myModalLabel">完成建档</h4>
						      	</div>
						     	<div class="modal-body">
						       	 确定提交建档（自产）吗?
						      	</div>
						      	<div class="modal-footer">
						        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        	<button type="button" class="btn btn-primary"  v-on:click="updateStatus(1, 'filing_time')">确定</button>
						      	</div>
						    </div>
						</div>
					</div>
                    <div class="modal fade" id="filingOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  	<div class="modal-dialog" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title" id="myModalLabel">完成建档</h4>
						      	</div>
						     	<div class="modal-body">
						       	 确定提交建档（外采）吗?
						      	</div>
						      	<div class="modal-footer">
						        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        	<button type="button" class="btn btn-primary"  v-on:click="updateStatus(21, 'typein_product_time')">确定</button>
						      	</div>
						    </div>
						</div>
					</div>
				</div>
				<div class="list-box" id="drawing-in" v-show="currentIndex === 1">
					<div class="tool-list"></div>
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in drawing">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">&nbsp;</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="list-box" id="front-sample" v-show="currentIndex === 2">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in frontSample">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="list-box" id="trial-version" v-show="currentIndex === 3">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
            
							<dl v-for="item in trialVersion">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="list-box" id="color-sample-done" v-show="currentIndex === 4">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in colorDone">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="list-box" id="materials-in-store" v-show="currentIndex === 5">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in materialsInStore">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="list-box" id="materials-in" v-show="currentIndex === 6">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in materialsIn">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="list-box" id="wear-in" v-show="currentIndex === 7">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in wearIn">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime  }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>



<script src="./js/global.js"></script>
<script src="./gmo/gmodle.js"></script> 
</body>
</html>