#spicesApply .list-checkbox{
	width: 5%;
}
#spicesApply .design-no{
	width: 15%;
}
#spicesApply .operator-time{
	width: 15%;
}
#spicesApply .gender{
	width: 15%;
}
#spicesApply .series{
	width: 10%;
}
#spicesApply .source{
	width: 10%;
}
#spicesApply .details{
	width: 20%;
}
#spicesApply .operator{
	width: 10%;
}

/*预采任务单*/
#repurchase-list .list-checkbox{
	width: 5%;
}
#repurchase-list .design-no{
	width: 15%;
}
#repurchase-list .operator-time{
	width: 15%;
}
#repurchase-list .gender{
	width: 15%;
}
#repurchase-list .series{
	width: 10%;
}
#repurchase-list .source{
	width: 10%;
}
#repurchase-list .details{
	width: 20%;
}
#repurchase-list .operator{
	width: 10%;
}

#drawing-in .design-no{
	width: 15%;
}
#drawing-in .filing-time{
	width: 15%;
}
#drawing-in .gender{
	width: 15%;
}
#drawing-in .series{
	width: 10%;
}
#drawing-in .source{
	width: 10%;
}
#drawing-in .details{
	width: 35%;
}

#cost-accounting2 .list-checkbox{
	width: 5%;
}
#cost-accounting2 .design-no{
	width: 15%;
}
#cost-accounting2 .operator-time{
	width: 15%;
}
#cost-accounting2 .gender{
	width: 15%;
}
#cost-accounting2 .series{
	width: 10%;
}
#cost-accounting2 .source{
	width: 10%;
}
#cost-accounting2 .details{
	width: 20%;
}
#cost-accounting2 .operator{
	width: 10%;
}
