<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>采购部</title>
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./purchase/purchase.css">
</head>
<body>
	<div class="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#spicesApply" id="spicesApply-enter" v-on:click="toggle(0, [2], ['spicesApply'])">调料申请</a></li>
					<li role="presentation"><a href="#repurchase-list" id="repurchase-list-enter" v-on:click="toggle(1, [31], ['purchase'])">预采任务单</a></li>
					<li role="presentation"><a href="#orderSheet" id="orderSheet-enter" v-on:click="toggle(2)">下单表</a></li>
					<li role="presentation"><a href="#checkIn" id="checkIn-enter" v-on:click="toggle(3)">检验入库</a></li>
					<li role="presentation"><a href="#handling" id="handling-enter" v-on:click="toggle(4)">需处理</a></li>
					<li role="presentation"><a href="#replenishment" id="replenishment-enter" v-on:click="toggle(5)">补货</a></li>
					<li role="presentation"><a href="#replenishment-in" id="replenishment-in-enter" v-on:click="toggle(6)">补货入库</a></li>
					<li role="presentation"><a href="#cost-accounting" id="cost-accounting-enter" v-on:click="toggle(7)">成本核算</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div id="spicesApply" class="list-box" v-show="currentIndex === 0">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采任务单</dd>
								<dd class="operator">调料完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in spicesApply">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.apply_transmaterial_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#myModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div id="repurchase-list" class="list-box" v-show="currentIndex === 1">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采任务单</dd>
								<dd class="operator">整款入仓</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in purchase">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.order_typein_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#purchaseModal" v-on:click="getChosenId( item.design_no )">入仓</button>
								</dd>
							</dl>
						</div>
                        <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">整款入仓</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定整款入仓吗?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary"  v-on:click="updateStatus(32, 'instore_finish_time')">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div id="orderSheet" class="list-box" v-show="currentIndex === 2">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="receipt-no">单据编号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="operator">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="receipt-no">{{ item.receipt_no}}</dd>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="operator">
									<input type="text">
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="checkIn" class="list-box" v-show="currentIndex === 3">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">入库时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="remark">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="update-info">
									<input type="text">
								</dd>
								<dd class="remark">
									<input type="text">
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="handling" class="list-box" v-show="currentIndex === 4">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="no">款号</dt>
								<dd class="operator-time">入仓时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="provider">供应商</dd>
								<dd class="problem">问题</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="no">{{ item.no}}</dt>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="provider">
									<input type="text">
								</dd>
								<dd class="problem">
									<input type="text">
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="replenishment" class="list-box" v-show="currentIndex === 5">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="no">款号</dd>
								<dd class="operator-time">补货时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采任务单</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="no">{{ item.no}}</dd>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="replenishment-in" class="list-box" v-show="currentIndex === 6">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">入仓时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="remark">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="update-info">
									<input type="text">
								</dd>
								<dd class="remark">
									<input type="text">
								</dd>
							</dl>
						</div>
					</div>

					<div class="status-box">
						<div class="status-title">需处理</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="no">款号</dd>
								<dd class="operator-time">入仓时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="providers">供应商</dd>
								<dd class="problem">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="providers">供应商</dd>
								<dd class="problem">备注</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="cost-accounting" class="list-box" v-show="currentIndex === 7">
					<!--<div class="status-box" id="cost-accounting1">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="no">款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采任务单</dd>
								<dd class="operator">核算完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="viewer-modal" data-target="#viewerModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" id="cost-accounting2">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">成本核算表</dd>
								<dd class="operator">确认移交</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="costs2">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.typein_materialsheet_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#costsModal2">移交</button>
								</dd>
							</dl>
						</div>
					</div>-->
					<!-- Modal -->
					<div class="modal fade" id="costsModal2" tabindex="-1" role="dialog" aria-lab itemledby="myModalLab item">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-lab item="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLab item">成本核算</h4>
								</div>
								<div class="modal-body">
								确定移交吗?
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" id="costs2-save-button">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 <script src="./js/global.js"></script>
<script src="./purchase/purchasedle.js"></script>
</body>
</html>