#sample1 .list-checkbox{
	width: 5%;
}
#sample1 .design-no{
	width: 15%;
}
#sample1 .operator-time{
	width: 15%;
}
#sample1 .gender{
	width: 15%;
}
#sample1 .series{
	width: 10%;
}
#sample1 .source{
	width: 10%;
}
#sample1 .operator{
	width: 30%;
}

#sample2 .list-checkbox,#sample3 .list-checkbox{
	width: 5%;
}
#sample2 .design-no,#sample3 .design-no{
	width: 15%;
}
#sample2 .operator-time,#sample3 .operator-time{
	width: 15%;
}
#sample2 .gender,#sample3 .gender{
	width: 15%;
}
#sample2 .series,#sample3 .series{
	width: 10%;
}
#sample2 .source,#sample3 .source{
	width: 10%;
}
#sample2 .detail,#sample3 .detail{
	width: 10%;
}
#sample2 .operator,#sample3 .operator{
	width: 20%;
}