#outbuy-in .design-no{
    width: 15%;
}
#outbuy-in .operator-time{
    width: 15%;
}
#outbuy-in .gender{
    width: 10%;
}
#outbuy-in .series{
    width: 10%;
}
#outbuy-in .source{
    width: 10%;
}
#outbuy-in .details{
    width: 10%;
}
#outbuy-in .order{
    width: 10%;
}
#outbuy-in .instore{
    width: 10%;
}
#outbuy-in .operator{
    width: 10%;
}