#price-order .list-checkbox{
	width: 5%;
}
#price-order .design-no{
    width: 15%;
}
#price-order .operator-time{
    width: 15%;
}
#price-order .gender{
    width: 10%;
}
#price-order .series{
    width: 10%;
}
#price-order .source{
    width: 10%;
}
#price-order .update-info{
    width: 20%;
}
#price-order .operator{
    width: 15%;
}