#cost-accounting .list-checkbox{
	width: 5%;
}
#cost-accounting .design-no{
	width: 15%;
}
#cost-accounting .operator-time{
	width: 15%;
}
#cost-accounting .gender{
	width: 10%;
}
#cost-accounting .series{
	width: 10%;
}
#cost-accounting .source{
	width: 10%;
}
#cost-accounting .details{
	width: 15%;
}
#cost-accounting .operator{
	width: 10%;
}

#cost-accounting1 .list-checkbox{
	width: 5%;
}
#cost-accounting1 .design-no{
	width: 15%;
}
#cost-accounting1 .operator-time{
	width: 15%;
}
#cost-accounting1 .gender{
	width: 10%;
}
#cost-accounting1 .series{
	width: 10%;
}
#cost-accounting1 .source{
	width: 10%;
}
#cost-accounting1 .details{
	width: 15%;
}
#cost-accounting1 .operator{
	width: 10%;
}