<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>财务部</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="finance/sys_clerk.css">
</head>
<body>
	<div id="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#goods-info" id="goods-info-enter"  v-on:click="toggle(0, [20], ['goodsInfo'])">商品信息</a></li>
					<li role="presentation"><a href="#price-list" id="price-list-enter"  v-on:click="toggle(1, [27], ['price'])">定价单</a></li>
					<li role="presentation"><a href="#ingredient-entering" id="ingredient-entering-enter"  v-on:click="toggle(2)">成分录入</a></li>
					<li role="presentation"><a href="#outbuy-goods" id="outbuy-goods-enter"  v-on:click="toggle(3)">外采商品信息</a></li>
					<li role="presentation"><a href="#outbuy-price" id="outbuy-price-enter"  v-on:click="toggle(4)">外采价格录入</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div id="goods-info" class="list-box" v-show="currentIndex === 0">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采任务单</dd>
								<dd class="operator">录入完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="info">
							<dl v-for="item in goodsInfo">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.finish_styleno_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
								<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#goodsModal" v-on:click="getChosenId( item.design_no )">完成</button>
								</dd>
							</dl>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="goodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">商品信息</h4>
								</div>
								<div class="modal-body">
								确定完成信息录入吗?
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" id="info-input-button" v-on:click="updateStatus(21, 'typein_product_time')">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="price-list" class="list-box" v-show="currentIndex === 1">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">单据编号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">变更信息</dd>
								<dd class="operator">录入完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in price">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.price_confirm_time  }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#priceModal" v-on:click="getChosenId( item.design_no )">完成</button>
								</dd>
							</dl>
						</div>
                        <div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">完成价格录入</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定完成录入吗?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary"  v-on:click="updateStatus(28, 'price_finishtypein_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div id="ingredient-entering" class="list-box" v-show="currentIndex === 2">	
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="no">款号</dd>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采任务单</dd>
								<dd class="operator">录入完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="no">{{el.no}}</dd>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div id="outbuy-goods-info" class="list-box" v-show="currentIndex === 3">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">下单表</dd>
								<dd class="operator">录入完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div id="outbuy-price-entering" class="list-box" v-show="currentIndex === 4">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">单据编号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">变更信息</dd>
								<dd class="operator">申请调料</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">申请</button>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="js/global.js"></script>
<script src="finance/sysdle.js"></script> 	
</body>
</html>