#basic-file .list-checkbox{
	width: 5%;
}
#basic-file .design-no{
	width: 15%;
}
#basic-file .operator-time{
	width: 15%;
}
#basic-file .gender{
	width: 15%;
}
#basic-file .series{
	width: 10%;
}
#basic-file .source{
	width: 10%;
}
#basic-file .details{
	width: 20%;
}
#basic-file .operator{
	width: 10%;
}

#drawing-in .design-no{
	width: 15%;
}
#drawing-in .operator-time{
	width: 15%;
}
#drawing-in .gender{
	width: 15%;
}
#drawing-in .series{
	width: 10%;
}
#drawing-in .source{
	width: 10%;
}
#drawing-in .details{
	width: 35%;
}
