.input-group-addon{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

#basic-file .list-checkbox{
	width: 5%;
}
#basic-file .design-no{
	width: 15%;
}
#basic-file .operator-time{
	width: 15%;
}
#basic-file .gender{
	width: 15%;
}
#basic-file .series{
	width: 10%;
}
#basic-file .source{
	width: 10%;
}
#basic-file .details{
	width: 20%;
}
#basic-file .operator{
	width: 10%;
}

#season .list-checkbox{
	width: 5%;
}
#season .design-no{
	width: 15%;
}
#season .operator-time{
	width: 15%;
}
#season .gender{
	width: 15%;
}
#season .series{
	width: 10%;
}
#season .source{
	width: 10%;
}
#season .details{
	width: 30%;
}

#sample .operator{
	width: 15%;
}

#viewer .list-checkbox{
	width: 5%;
}
#viewer .design-no{
	width: 15%;
}
#viewer .operator-time{
	width: 15%;
}
#viewer .gender{
	width: 15%;
}
#viewer .series{
	width: 10%;
}
#viewer .source{
	width: 10%;
}
#viewer .details{
	width: 20%;
}
#viewer .operator{
	width: 10%;
}

#dubviewer .list-checkbox{
	width: 5%;
}
#dubviewer .design-no{
	width: 15%;
}
#dubviewer .operator-time{
	width: 15%;
}
#dubviewer .gender{
	width: 10%;
}
#dubviewer .series{
	width: 10%;
}
#dubviewer .source{
	width: 15%;
}
#dubviewer .details{
	width: 30%;
}
#dubviewer .operator{
	width: 15%;
}

#repurchase-list .design-no{
	width: 15%;
}
#repurchase-list .operator-time{
	width: 15%;
}
#repurchase-list .gender{
	width: 10%;
}
#repurchase-list .series{
	width: 10%;
}
#repurchase-list .source{
	width: 15%;
}
#repurchase-list .details{
	width: 30%;
}
#repurchase-list .operator{
	width: 15%;
}

#repurchase-list1 .list-checkbox{
	width: 5%;
}
#repurchase-list1 .design-no{
	width: 15%;
}
#repurchase-list1 .operator-time{
	width: 15%;
}
#repurchase-list1 .gender{
	width: 10%;
}
#repurchase-list1 .series{
	width: 10%;
}
#repurchase-list1 .source{
	width: 15%;
}
#repurchase-list1 .details{
	width: 15%;
}
#repurchase-list1 .operator{
	width: 15%;
}

#repurchase-list2 .list-checkbox{
	width: 5%;
}
#repurchase-list2 .design-no{
	width: 15%;
}
#repurchase-list2 .operator-time{
	width: 15%;
}
#repurchase-list2 .gender{
	width: 10%;
}
#repurchase-list2 .series{
	width: 10%;
}
#repurchase-list2 .source{
	width: 15%;
}
#repurchase-list2 .details{
	width: 15%;
}
#repurchase-list2 .operator{
	width: 15%;
}

