<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设计部</title>
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./design/design.css">
</head>
<body>
	<div id="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#basic-file" id="basic-file-enter" v-on:click="toggle(0,[1],['basicFile'])">基础档案</a></li>
					<li role="presentation"><a href="#season" id="season-enter" v-on:click="toggle(1,[2,3],['season1','season2'])">调料</a></li>
					<li role="presentation"><a href="#sample" id="sample-enter" v-on:click="toggle(2,[4,9],['sample1','sample2'])">头版样衣制作</a></li>
					<li role="presentation"><a href="#viewer" id="viewer-enter" v-on:click="toggle(3,[10],['viewer'])">审版</a></li>
					<li role="presentation"><a href="#dubviewer" id="dubviewer-enter" v-on:click="toggle(4,[1,1],['dubviewer1','dubviewer2'])">复版</a></li>
					<li role="presentation"><a href="#repurchase-list" id="repurchase-enter" v-on:click="toggle(5,[1,1],['repurchase1','repurchase2'])">设计助理-预采任务单</a></li>
					<li role="presentation"><a href="#repurchase-list1" id="repurchase1-enter" v-on:click="toggle(6,[11,11,11],['repurchaseD1','repurchaseD2','repurchaseD3'])">设计师-预采任务单</a></li>
					<li role="presentation"><a href="#repurchase-list2" id="repurchase2-enter" v-on:click="toggle(7,[11,12,13],['repurchaseM1','repurchaseM2','repurchaseM3'])">设计主管-预采任务单</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div id="basic-file" class="list-box" v-show="currentIndex === 0">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
								<dd class="operator">申请调料</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in basicFile" v-if="item.source == 1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#filingModal" v-on:click="getChosenId( item.design_no )">提交</button>                                
								</dd>
							</dl>
						</div>
					</div>
					<div class="modal fade" id="filingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">完成建档</h4>
								</div>
								<div class="modal-body">
									确定申请调料吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary"  v-on:click="updateStatus(2, 'apply_transmaterial_time')">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
						
				<div id="season" class="list-box" v-show="currentIndex === 1">
					<div class="status-box" id="season1">
						<div class="status-title">调料中</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in season1" v-if="item.source == 1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.apply_transmaterial_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" id="season2">
						<div class="status-title">调料完成</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">申请头版样衣制作</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in season2" v-if="item.source == 1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.finish_transmaterial_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="operator">
									<button v-if="item.source == 1" type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#sampleModal" v-on:click="getChosenId( item.design_no )">提交</button>
								</dd>
							</dl>
						</div>
                        <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  	<div class="modal-dialog" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title" id="myModalLabel">调料</h4>
						      	</div>
						     	<div class="modal-body">
						       	 确定申请头版样衣制作吗?
						      	</div>
						      	<div class="modal-footer">
						        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						        	<button type="button" class="btn btn-primary"  v-on:click="updateStatus(4, 'filiapply_makefront_timeng_time')">确定</button>
						      	</div>
						    </div>
						</div>
					</div>
					</div>
					<div class="modal fade" id="seasonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">完成建档</h4>
								</div>
								<div class="modal-body">
									确定申请样衣制作吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="season-save-button">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="sample" class="list-box" v-show="currentIndex === 2">
					<div class="status-box" id="sample1">
						<div class="status-title">制作中</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in sample1" v-if="item.source == 1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.apply_makefront_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource}}</dd>
								<dd class="details">&nbsp;</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" id="sample2">
						<div class="status-title">制作完成</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">审版通过</dd>
								<dd class="operator">审版意见</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in sample2">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.scoring_time | transTime}}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#passModal">审版通过</button>
								</dd>
								<dd class="operator">
									<div class="input-group">
										<input type="text" class="form-control check-opinion" placeholder="请输入审版意见">
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#dubviewModal">申请复版</button>
										</span>
									</div>
								</dd>
							</dl>
						</div>
					</div>
					<div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">头版样衣制作</h4>
								</div>
								<div class="modal-body">
									确定审版通过吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="sample-pass-button">提交</button>
								</div>
							</div>
						</div>
					</div>	
					<div class="modal fade" id="dubviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">完成建档</h4>
								</div>
								<div class="modal-body">
									确定申请复版吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="sample-dubview-button">提交</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="viewer" class="list-box" v-show="currentIndex === 3">
					<div class="status-box">
						<div class="status-title">制作中</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">通过时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">制作预采任务单</dd>
								<dd class="operator">完成预采单</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in viewer">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.passversion_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button v-else type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#viewerModal" v-on:click="getChosenId( item.design_no )">提交审批</button>
								</dd>
							</dl>
						</div>
					</div>
					<div class="modal fade" id="viewerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">审版</h4>
								</div>
								<div class="modal-body">
									确定提交审批吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="viewer-button">提交</button>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<div id="dubviewer" class="list-box" v-show="currentIndex === 4">
					<div class="status-box">
						<div class="status-title">制作中</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in dubviewer1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
					
					<div class="status-box">
						<div class="status-title">制作完成</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">审版通过</dd>
								<dd class="operator">审版意见</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in dubviewer2">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary sample-pass-button" type="submit" data-toggle="pass-modal" data-target="#passModal" v-on:click="getChosenId( item.design_no )">审版通过</button>
								</dd>
								<dd class="operator">
									<input type="text" id="dubview-option-input">
									<button class="btn btn-default btn-primary sample-dubview-button" type="submit" data-toggle="dubview-modal" data-target="#dubviewModal" v-on:click="getChosenId( item.design_no )">申请复版</button>
								</dd>
							</dl>
						</div>
					</div>
				</div>

				<div id="repurchase-list" class="list-box" v-show="currentIndex === 5">
					<div class="status-box">
						<div class="status-title">审批中</div>
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchase1">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
					
					<div class="status-box">
						<div class="status-title">已移交</div>
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchase2">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div id="repurchase-list1" class="list-box" v-show="currentIndex === 6">
					<div class="status-box" id="designer-check1">
						<div class="status-title">待审批</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采单</dd>
								<dd class="operator">审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchaseD1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.adopt_admitcheck_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#designerModal" v-on:click="getChosenId( item.design_no )">审批</button>
								</dd>
							</dl>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="designerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">预采任务单</h4>
							</div>
							<div class="modal-body">
							确定提交审批吗?
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" id="designer-check-button">确定</button>
							</div>
						</div>
						</div>
					</div>
                    
					<div class="status-box">
						<div class="status-title">审批中</div>
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchaseD2">
								<dt class="design-no">{{item.design_no }}</dt>
								<dd class="operator-time">{{item.filing_time | transTime }}</dd>
								<dd class="gender">{{item.d_gender | getGender }}</dd>
								<dd class="series">{{item.series_id | getSeries }}</dd>
								<dd class="source">{{item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
                    
					<div class="status-box">
						<div class="status-title">已移交</div>
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchaseD3">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div id="repurchase-list2" class="list-box" v-show="currentIndex === 7">
					<div class="status-box">
						<div class="status-title">审批中</div>
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchaseM1">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.filing_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" id="designmonitor-repurchase2">
						<div class="status-title">待审批</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">预采单</dd>
								<dd class="operator">移交</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchaseM2">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.adopt_checked_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#designer-transmit-Modal" v-on:click="getChosenId( item.design_no )">移交</button>
								</dd>
							</dl>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="designer-transmit-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">预采任务单</h4>
								</div>
								<div class="modal-body">
								确定移交吗?
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" id="transmit-button">确定</button>
								</div>
							</div>
						</div>
					</div>
					<div class="status-box">
						<div class="status-title">已移交</div>
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in repurchaseM3">
								<dt class="design-no">{{ item.design_no }}</dt>
								<dd class="operator-time">{{ item.adopt_transfer_time | transTime }}</dd>
								<dd class="gender">{{ item.d_gender | getGender }}</dd>
								<dd class="series">{{ item.series_id | getSeries }}</dd>
								<dd class="source">{{ item.source | getSource }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	
	</div>
    
<script src="./js/global.js"></script>
<script src="./design/designdle.js"></script> 
</body>
</html>