<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>仓储部</title>
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./storage/readymade.css">
</head>
<body>
	<div id="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#storage-check" id="storage-check-enter" v-on:click="toggle(0,[45],['checkin'])">入仓检验</a></li>
					<li role="presentation"><a href="#readymade-send" id="readymade-send-enter" v-on:click="toggle(1,[48],['readySend'])">成衣发货</a></li>
					<li role="presentation"><a href="#readymade-handling" id="readymade-handling-enter" v-on:click="toggle(2)">成衣待处理</a></li>
					<li role="presentation"><a href="#cargo-issue" id="cargo-issue-enter" v-on:click="toggle(3)">大货发料</a></li>
					<li role="presentation"><a href="#handling" id="handling-enter" v-on:click="toggle(4)">需处理</a></li>
					<li role="presentation"><a href="#material-in" id="material-in-enter" v-on:click="toggle(5)">补货</a></li>
					<li role="presentation"><a href="#lining-in" id="lining-in-enter" v-on:click="toggle(6)">补货入库</a></li>
					<li role="presentation"><a href="#cost-check" id="cost-check-enter" v-on:click="toggle(7)">成本核算</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div id="storage-check" class="list-box" ms-visible="currentIndex === 0">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">到货时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="check-result">检验合格</dd>
								<dd class="check-result">检验不合格</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in checkin">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.instorecheck_time }}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="check-result">
									<input type="text">
								</dd>
								<dd class="check-result">
									<input type="text">
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#checkinModal" v-on:click="getChosenId( item.design_no )">提交</button>
								</dd>
							</dl>
						</div>
						<!-- Modal -->
						<div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">入仓检验</h4>
									</div>
									<div class="modal-body">
									确定申请审批吗?
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary"  v-on:click="updateStatus(46, 'product_applycheck_time')">确定</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="readymade-send" class="list-box" ms-visible="currentIndex === 1">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">到货时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="check-send">检验合格发出</dd>
								<dd class="check-send">检验可接受发出</dd>
								<dd class="operator">发货</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in readySend">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.product_allotconfirm_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="check-send">
									<input type="text">
								</dd>
								<dd class="check-send">
									<input type="text">
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#priceModal2" v-on:click="getChosenId( item.design_no )">发货</button>
								</dd>
							</dl>
						</div>
						<div class="modal fade" id="priceModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">成衣发货</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定发货吗?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary"  v-on:click="updateStatus(49, 'product_exstore_time')">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div id="readymade-handling" class="list-box" ms-visible="currentIndex === 2">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">到料时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="material">面料</dd>
								<dd class="material">辅料</dd>
								<dd class="operator">整款发出</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="material">面料</dd>
								<dd class="material">辅料</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">发出</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="cargo-issue" class="list-box" ms-visible="currentIndex === 3">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">到料时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="material">面料</dd>
								<dd class="material">辅料</dd>
								<dd class="operator">整款发出</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="material">面料</dd>
								<dd class="material">辅料</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">发出</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="handling" class="list-box" ms-visible="currentIndex === 4">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="operator">确认移交</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="update-info">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">移交</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="material-in" class="list-box" ms-visible="currentIndex === 5">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">入库时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="supplier">供应商</dd>
								<dd class="materials">面/辅料</dd>
								<dd class="details">检验报告</dd>
								<dd class="operator">申请调料</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="supplier">供应商</dd>
								<dd class="materials">面/辅料</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">申请</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="lining-in" class="list-box" ms-visible="currentIndex === 6">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="receipt-no">单据编号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">变更信息</dd>
								<dd class="operator">确认移交</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="receipt-no">{{el.receipt_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">移交</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="cost-check" class="list-box" ms-visible="currentIndex === 7">
					<!--<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="receipt-no">单据编号</dd>
								<dd class="operator-time">入库时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="supplier">供应商</dd>
								<dd class="details">检验报告</dd>
								<dd class="operator">移交</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="receipt-no">{{el.receipt}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="supplier">供应商</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">移交</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
<script src="js/global.js"></script>
<script src="./storage/readymadel.js"></script> 
</body>
</html>