#storage-check-monitor .list-checkbox{
    width: 5%;
}
#storage-check-monitor .design-no{
    width: 10%;
}
#storage-check-monitor .operator-time{
    width: 10%;
}
#storage-check-monitor .gender{
    width: 10%;
}
#storage-check-monitor .series{
    width: 10%;
}
#storage-check-monitor .source{
    width: 10%;
}
#storage-check-monitor .fabric-in{
    width: 12%;
}
#storage-check-monitor .accessory-in{
    width: 13%;
}
#storage-check-monitor .details{
    width: 10%;
}
#storage-check-monitor .operator{
    width: 10%;
}