#price-order .list-checkbox{
	width: 5%;
}
#price-order .design-no{
    width: 15%;
}
#price-order .operator-time{
    width: 15%;
}
#price-order .gender{
    width: 10%;
}
#price-order .series{
    width: 10%;
}
#price-order .source{
    width: 10%;
}
#price-order .update-info{
    width: 20%;
}
#price-order .operator{
    width: 15%;
}

/*下单表*/
#order-table .list-checkbox{
    width: 5%;
}
#order-table .design-no{
    width: 15%;
}
#order-table .operator-time{
    width: 15%;
}
#order-table .gender{
    width: 10%;
}
#order-table .series{
    width: 10%;
}
#order-table .source{
    width: 10%;
}
#order-table .updateinfo{
    width: 20%;
}
#order-table .operator{
    width: 15%;
}

/*下单表1*/
#order-table1 .list-checkbox{
    width: 5%;
}
#order-table1 .design-no{
    width: 15%;
}
#order-table1 .operator-time{
    width: 15%;
}
#order-table1 .gender{
    width: 10%;
}
#order-table1 .series{
    width: 10%;
}
#order-table1 .source{
    width: 10%;
}
#order-table1 .updateinfo{
    width: 20%;
}
#order-table1 .operator{
    width: 15%;
}