<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>技术部</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./buyer/buyer.css">
</head>
<body>
	<div class="page-container">
		<div class="page-content"  id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation"  class="active"><a href="#price-order" id="price-table-enter" v-on:click="toggle(0, [25,26], ['price1','price2'])">定价表</a></li>
					<li role="presentation"><a href="#order-table" id="order-table-enter" v-on:click="toggle(1, [28], ['order1'])">下单表</a></li>
					<li role="presentation"><a href="#order-table1" id="order-table-enter1" v-on:click="toggle(2,[26,26,29],['morder1','morder2','morder3'])">下单表</a></li>
					<li role="presentation"><a href="#wear-in" id="wear-in-enter" v-on:click="toggle(3)">成衣入库</a></li>
					<li role="presentation"><a href="#wear-send" id="wear-send-enter" v-on:click="toggle(4)">成衣发出</a></li>
					<li role="presentation"><a href="#outbuy" id="outbuy-enter" v-on:click="toggle(5)">外采</a></li>
					<li role="presentation"><a href="#outbuy-in" id="outbuy-in-enter" v-on:click="toggle(6)">外采入库</a></li>
					<li role="presentation"><a href="#outbuy-send" id="outbuy-send-enter" v-on:click="toggle(7)">外采发出</a></li>
					<li role="presentation"><a href="#replenishment" id="replenishment-enter" v-on:click="toggle(8)">补货</a></li>
					<li role="presentation"><a href="#replenishment1" id="replenishment-enter1" v-on:click="toggle(9)">补货</a></li>
					<li role="presentation"><a href="#reduce-apply" id="reduce-apply-enter" v-on:click="toggle(10)">加裁申请</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div class="list-box" id="price-order" v-show="currentIndex === 0">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="price1">
							 <dl v-for="item in price1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.cost_trans_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="update-info">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#priceModal">申请</button>
								</dd>
							</dl> 
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">定价表</h4>
								</div>
								<div class="modal-body">
								确定申请审批吗?
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" id="price-save-button">确定</button>
								</div>
							</div>
						</div>
					</div>

					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="update-info">变更信息</dd>
								<dd class="operator">完成定价</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="price2">
							 <dl v-for="item in price2">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.cost_trans_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="update-info">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#priceModal2" v-on:click="getChosenId( item.design_no )">完成</button>
								</dd>
							</dl> 
						</div>
                        <div class="modal fade" id="priceModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">完成定价</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定完成定价吗?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary"  v-on:click="updateStatus(27, 'price_confirm_time')">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

				<div class="list-box" id="order-table" v-show="currentIndex === 1">
					<div class="status-box" ms-controller="order">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="updateinfo">变更信息</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl v-for="item in order1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.price_finishtypein_time }}</dd>
								<dd class="gender">{{ item.d_gender}}</dd>
								<dd class="series">{{ item.series_id}}</dd>
								<dd class="source">{{ item.source}}</dd>
								<dd class="updateinfo">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#orderModal" v-on:click="getChosenId( item.design_no )">申请</button>
								</dd>
							</dl>
						</div>
						<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">申请下单</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定申请下单吗?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary"  v-on:click="updateStatus(29, 'order_applycheck_time')">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

				<div class="list-box" id="order-table1" v-show="currentIndex === 2">
					<div class="status-box">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="updateinfo">变更信息</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="morder1">
							<dl v-for="item in morder1">
                                <dt class="list-checkbox">
                                    <input type="checkbox" name="" value="">
                                </dt>
                                <dd class="design-no">{{ item.design_no }}</dd>
                                <dd class="operator-time">{{ item.filing_time }}</dd>
                                <dd class="gender">{{ item.d_gender }}</dd>
                                <dd class="series">{{ item.series_id }}</dd>
                                <dd class="source">{{ item.source }}</dd>
                                <dd class="updateinfo">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </dd>
                                <dd class="operator">
                                    <button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#myModal">申请</button>
                                </dd>
                            </dl>
						</div>
					</div>
					<div class="status-box">
						<div class="status-title">加盟下单</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="updateinfo">变更信息</dd>
								<dd class="operator">完成下单</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="morder2">
							<dl v-for="item in morder2">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.filing_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="updateinfo">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#myModal">下单</button>
								</dd>
							</dl>
						</div>
					</div>
					<div class="status-box">
						<div class="status-title">待审批</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">接收时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="updateinfo">变更信息</dd>
								<dd class="operator">完成下单</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" id="morder3">
							<dl v-for="item in morder3">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.order_applycheck_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="updateinfo">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#orderModal3" v-on:click="getChosenId( item.design_no )">下单</button>
								</dd>
							</dl> 
						</div>
                        <div class="modal fade" id="orderModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">完成下单</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定完成下单吗?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary"  v-on:click="updateStatus(30, 'order_confirm_time')">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

				<div class="list-box" id="wear-in" v-show="currentIndex === 3">
					<!--<div class="status-box" ms-controller="wearin">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">&nbsp;</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="wear-send" v-show="currentIndex === 4">
					<!--<div class="status-box" ms-controller="wearsend">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入库时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">详细内容</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">&nbsp;</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="outbuy" v-show="currentIndex === 5">
					<!--<div class="status-box" ms-controller="outbuy">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">下单表</dd>
								<dd class="supplyer">供应商</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="supplyer">&nbsp;</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#myModal">申请</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="outbuy-in" v-show="currentIndex === 6">
					<!--<div class="status-box" ms-controller="outbuyin">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">供应商</dd>
								<dd class="order">订单数</dd>
								<dd class="instore">入库数</dd>
								<dd class="operator">处理结果</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">&nbsp;</dd>
								<dd class="order">&nbsp;</dd>
								<dd class="instore">&nbsp;</dd>
								<dd class="operator">&nbsp;</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="outbuy-send" v-show="currentIndex === 7">
					<!--<div class="status-box" ms-controller="outbuysend">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="order">订单数</dd>
								<dd class="instore">入库数</dd>
								<dd class="remark">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="order">{{el.source}}</dd>
								<dd class="instore">{{el.source}}</dd>
								<dd class="remark">{{el.source}}</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="replenishment" v-show="currentIndex === 8">
					<!--<div class="status-box" ms-controller="wear">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="replenum">补货数量</dd>
								<dd class="replehouse">补货仓</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="replenum">补货数量</dd>
								<dd class="replehouse">补货仓</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="replenishment1" v-show="currentIndex === 8">
					<!--<div class="status-box" ms-controller="wear">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="replenum">补货数量</dd>
								<dd class="replehouse">补货仓</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="replenum">补货数量</dd>
								<dd class="replehouse">补货仓</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
					</div>-->
				</div>

				<div class="list-box" id="reduce-apply" v-show="currentIndex === 9">
					<!--<div class="status-box" ms-controller="wear">
						<div class="list-title">
							<dl>
								<dt class="design-no">设计款号</dt>
								<dd class="operator-time">入图时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">申请原因</dd>
								<dd class="details">下单表</dd>
								<dd class="cutnum">多裁数</dd>
								<dd class="operator">审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="reason">{{el.source}}</dd>
								<dd class="details">{{el.source}}</dd>
								<dd class="cutnum">{{el.source}}</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#myModal">不同意</button>
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#myModal">同意</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>

<script src="js/global.js"></script>
<script src="./buyer/buyerdle.js"></script> 

</body>
</html>