<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./tech/paper_sample.css">
</head>
<body>
	<div id="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#sample" id="sample-enter" v-on:click="toggle(0)">纸样制作</a></li>
					<li role="presentation"><a href="#process-sheet" id="process-sheet-enter" v-on:click="toggle(1)">工艺单</a></li>
					<li role="presentation"><a href="#marker" id="marker-enter" v-on:click="toggle(2, [39,50], ['maker','modifyMaker'])">唛架</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div id="sample" class="list-box" v-show="currentIndex === 0">
					<!--<div class="status-box" id="sample1">
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">制作完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.allotpattern_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#sampleModal1">完成</button>
								</dd>
							</dl>
						</div>

						
						<div class="modal fade" id="sampleModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">头版样衣制作</h4>
									</div>
									<div class="modal-body">
										确定完成纸样制作吗?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="button" class="btn btn-primary" id="sample-save-button">确定</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="status-box" ms-controller="sample2" id="sample2">
						<div class="status-title">纸样修改</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">制作完成</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="process-sheet" class="list-box" v-show="currentIndex === 1">
					<!--<div class="status-box" ms-controller="sample">
						<div class="status-title">工艺单</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">申请审批</dd>
								<dd class="remark">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">申请</button>
								</dd>
								<dd class="remark">
									<input type="text">
								</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" ms-controller="sample">
						<div class="status-title">修改工艺单</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">修改原因</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="reason">
									<input type="text">
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">申请</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="marker" class="list-box" v-show="currentIndex === 2">
					<div class="status-box">
						<div class="status-title">唛架</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">申请审批</dd>
								<dd class="operator">备注</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in maker">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no}}</dd>
								<dd class="operator-time">{{ item.preedition_allsend_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="reason">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#markerModal"  v-on:click="getChosenId( item.design_no )">申请</button>
								</dd>
								<dd class="operator">
									<input type="text">
								</dd>
							</dl>
						</div>
                        <!-- 申请审批Modal -->
                        <div class="modal fade" id="markerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">申请唛架审批</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定申请审批吗?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="price-save-button" v-on:click="updateStatus(40, 'marker_applycheck_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 申请纸样Modal -->
                        <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">申请纸样</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定申请纸样吗?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="price-save-button" v-on:click="updateStatus(34, 'pattern_apply_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>

					<div class="status-box">
						<div class="status-title">修改唛架</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">修改原因</dd>
								<dd class="operator">申请审批</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in modifyMaker">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.filing_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="reason">
									<input type="text">
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="modal" data-target="#modifyMarkerModal"  v-on:click="getChosenId( item.design_no )">申请</button>
								</dd>
							</dl>
						</div>
						<!-- 申请修改唛架Modal -->
                        <div class="modal fade" id="modifyMarkerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">申请修改唛架审批</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定申请审批吗?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="price-save-button" v-on:click="updateStatus(51, 'marker_applycheckadjust_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
<script src="./js/global.js"></script>
<script src="./tech/paperdle.js"></script> 
</body>
</html>