<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>技术部</title>
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./tech/tech.css">
</head>
<body>
	<div id="page-container">
		<div class="page-content" id="menu">
			<div class="page-menu">
				<ul class="list-inline nav nav-tabs">
					<li role="presentation" class="active"><a href="#sample" id="sample-enter"  v-on:click="toggle(0)">头版样衣制作</a></li>
					<li role="presentation"><a href="#viewer" id="viewer-enter"  v-on:click="toggle(1)">审版</a></li>
					<li role="presentation"><a href="#dubviewer" id="dubviewer-enter"  v-on:click="toggle(2)">复版</a></li>
					<li role="presentation"><a href="#process-sheet" id="process-enter"  v-on:click="toggle(3)">工艺单</a></li>
					<li role="presentation"><a href="#paper-sample" id="paper-sample-enter"  v-on:click="toggle(4, [34], ['sample'])">纸样</a></li>
					<li role="presentation"><a href="#marker" id="marker-enter"  v-on:click="toggle(5, [40, 51], ['marker1','marker2'])">唛架</a></li>
					<li role="presentation"><a href="#sample-grade" id="grade-enter"  v-on:click="toggle(6)">样衣分数</a></li>
				</ul>
			</div>
			<div class="page-list">
				<div id="sample" class="list-box" v-show="currentIndex === 0">
					<!--<div class="status-box" ms-controller="sample1" id="sample1">
						<div class="status-title">申请制作</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">纸样分配</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.apply_makefront_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="operator">
									<select class="sampler-select">
										<option value="汤胜辉1">纸样师——汤胜辉1</option>
										<option value="汤胜辉2">纸样师——汤胜辉2</option>
										<option value="汤胜辉3">纸样师——汤胜辉3</option>
									</select>
									
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#sampleModal1">纸样分配</button>
								</dd>
							</dl>
						</div>
					</div>-->
					<!-- Modal -->
					<div class="modal fade" id="sampleModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">头版样衣制作</h4>
								</div>
								<div class="modal-body">
								确定分配纸样师吗?
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" id="sample1-save-button">确定</button>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="status-box" ms-controller="sample2" id="sample2">
						<div class="status-title">完成纸样</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="detail">纸样师</dd>
								<dd class="operator">车版分配</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.allotpattern_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="detail">{{el.sampler_name}}</dd>
								<dd class="operator">
									<select class="carversion-select">
										<option value="李四">车版师——李四</option>
										<option value="张三">车版师——张三/option>
										<option value="王五">车版师——王五</option>
									</select>
									 <button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#sampleModal2">车版分配</button>
								</dd>
							</dl>
						</div>
					</div>-->
					<!-- Modal -->
					<div class="modal fade" id="sampleModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">头版样衣制作</h4>
							</div>
							<div class="modal-body">
							确定分配车版师吗?
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" id="carversion-save-button">确定</button>
							</div>
						</div>
						</div>
					</div>

					<!--<div class="status-box" ms-controller="sample3" id="sample3">
						<div class="status-title">制作完成</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="" class="checkAll">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="detail">车版师</dd>
								<dd class="operator">车版计分</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.allotcarversion_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="detail">{{el.carversion_name}}</dd>
								<dd class="operator">
									<div class="input-group">
										<input type="text" class="form-control carversion-score" placeholder="请输入分数">
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#sampleModal3">计分</button>
										</span>
									</div>
								</dd>
							</dl>
						</div>
					</div>-->
					<!--Modal-->
					<div class="modal fade" id="sampleModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">头版样衣制作</h4>
					      </div>
					      <div class="modal-body">
					        确定计分吗?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					        <button type="button" class="btn btn-primary" id="score-save-button">确定</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div id="viewer" class="list-box" v-show="currentIndex === 1">
					<!--<div class="status-box" ms-controller="viewer1" id="viewer1">
						<div class="status-title">审版通过</div>
						<div class="list-title">
							<dt class="design-no">设计款号</dt>
							<dd class="operator-time">申请时间</dd>
							<dd class="gender">女/男装</dd>
							<dd class="series">系列</dd>
							<dd class="source">生产类型</dd>
							<dd class="status">状态</dd>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.finish_transmaterial_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="status">审版通过</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" ms-controller="viewer2" id="viewer2">
						<div class="status-title">申请复版</div>
						<div class="list-title">
							<dt class="design-no">设计款号</dt>
							<dd class="operator-time">申请时间</dd>
							<dd class="gender">女/男装</dd>
							<dd class="series">系列</dd>
							<dd class="source">生产类型</dd>
							<dd class="dub-option">复版意见</dd>
							<dd class="operator">同意复版</dd>
							<dd class="dub-time">复版次数</dd>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="design-no">{{el.design_no}}</dt>
								<dd class="operator-time">{{el.finish_transmaterial_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="dub-option">{{el.source}}</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#dubviewModal">同意复版</button>
								</dd>
								<dd class="dub-time">{{el.source}}</dd>
							</dl>
						</div>
					</div>-->
					<div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">头版样衣制作</h4>
								</div>
								<div class="modal-body">
									确定同意审版吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="dubview-pass-button">确定</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="dubviewer" class="list-box" v-show="currentIndex === 2">
					<!--<div class="status-box" ms-controller="dubviewer1" id="dubviewer1">
						<div class="status-title">复版制作</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="operator">纸样分配</dd>
								<dd class="operator">车版分配</dd>

							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="operator">
									<select class="dub-sampler-select">
										<option value="汤胜辉1">纸样师——汤胜辉1</option>
										<option value="汤胜辉2">纸样师——汤胜辉2</option>
										<option value="汤胜辉3">纸样师——汤胜辉3</option>
									</select>
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#dubviewerModal1">分配</button>
								</dd>
								<dd class="operator">
									<select class="dub-carversion-select">
										<option value="李四">车版师——李四</option>
										<option value="张三">车版师——张三/option>
										<option value="王五">车版师——王五</option>
									</select>
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#dubviewerModal2">分配</button>
								</dd>
							</dl>
						</div>
					</div>-->
					<!--Modal-->
					<div class="modal fade" id="dubviewerModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">复版</h4>
								</div>
								<div class="modal-body">
									确定分配纸样师吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="dubsampler-button">确定</button>
								</div>
							</div>
						</div>
					</div>
					<!--Modal-->
					<div class="modal fade" id="dubviewerModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">复版</h4>
								</div>
								<div class="modal-body">
									确定分配车版师吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="dubcarversion-button2">确定</button>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="status-box" ms-controller="dubviewer2" id="dubviewer2">
						<div class="status-title">完成纸样</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="sampler">纸样师</dd>
								<dd class="operator">车版分配</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="sampler">{{el.source}}</dd>
								<dd class="operator">
									<select class="dub-carversion-select">
										<option value="李四">车版师——李四</option>
										<option value="张三">车版师——张三/option>
										<option value="王五">车版师——王五</option>
									</select>
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#dubviewerModal3">分配</button>
								</dd>
							</dl>
						</div>
					</div>-->
					<!--Modal-->
					<div class="modal fade" id="dubviewerModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">复版</h4>
								</div>
								<div class="modal-body">
									确定分配车版师吗?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" id="dubcarversion-button2">确定</button>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="status-box" ms-controller="dubviewer3" id="dubviewer3">
						<div class="status-title">复版完成</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">申请时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="sampler">车版师</dd>
								<dd class="operator">车版计分</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="sampler">{{el.source}}</dd>
								<dd class="operator">
									<input id="setGrade" value="">分
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">分配</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="process-sheet" class="list-box" v-show="currentIndex === 3">
					<!--<div class="status-box" ms-controller="dubviewer">
						<div class="status-title">工艺单</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">工艺单</dd>
								<dd class="operator">完成工艺单</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>
					<div class="status-box" ms-controller="dubviewer">
						<div class="status-title">修改工艺单</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">修改原因</dd>
								<dd class="details">工艺单</dd>
								<dd class="operator">完成工艺单</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="reason">
									<input type="text">
								</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">完成</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="paper-sample" class="list-box" v-show="currentIndex === 4">
					<div class="status-box">
						<div class="status-title">纸样</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">工艺单</dd>
								<dd class="operator">完成移交</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in sample">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.pattern_apply_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
                                    <button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#sampleModal"  v-on:click="getChosenId( item.design_no )">移交</button>
								</dd>
							</dl>
						</div>
                        <!-- Modal -->
                        <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">移交纸样</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定完成移交吗?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="price-save-button" v-on:click="updateStatus(35, 'pattern_trans_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<!--<div class="status-box" ms-controller="sample2">
						<div class="status-title">修改唛架</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">建档时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">修改原因</dd>
								<dd class="details">工艺单</dd>
								<dd class="operator">完成唛架</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{el.design_no}}</dd>
								<dd class="operator-time">{{el.filing_time | date("yyyy/MM/dd HH:mm:ss")}}</dd>
								<dd class="gender">{{el.d_gender}}</dd>
								<dd class="series">{{el.series_id}}</dd>
								<dd class="source">{{el.source}}</dd>
								<dd class="reason">
									<input type="text">
								</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button class="btn btn-default btn-primary operator-button" type="submit" data-toggle="filing-modal" data-target="#filingModal">移交</button>
								</dd>
							</dl>
						</div>
					</div>-->
				</div>
				<div id="marker" class="list-box" v-show="currentIndex === 5">
					<div class="status-box" id="marker1">
						<div class="status-title">唛架</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="details">工艺单</dd>
								<dd class="operator">完成唛架</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in marker1">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.marker_applycheck_time  }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#markerModal1"  v-on:click="getChosenId( item.design_no )">完成</button>
								</dd>
							</dl>
						</div>
                        <!-- 完成唛架Modal -->
                        <div class="modal fade" id="markerModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">完成唛架</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定完成唛架吗?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="price-save-button" v-on:click="updateStatus(41, 'marker_confirm_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="status-box" id="marker2">
						<div class="status-title">修改唛架</div>
						<div class="list-title">
							<dl>
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">设计款号</dd>
								<dd class="operator-time">完成时间</dd>
								<dd class="gender">女/男装</dd>
								<dd class="series">系列</dd>
								<dd class="source">生产类型</dd>
								<dd class="reason">修改原因</dd>
								<dd class="details">工艺单</dd>
								<dd class="operator">完成唛架</dd>
							</dl>
						</div>
						<div class="list-detail table table-hover">
							<dl v-for="item in marker2">
								<dt class="list-checkbox">
									<input type="checkbox" name="" value="">
								</dt>
								<dd class="design-no">{{ item.design_no }}</dd>
								<dd class="operator-time">{{ item.marker_applycheckadjust_time }}</dd>
								<dd class="gender">{{ item.d_gender }}</dd>
								<dd class="series">{{ item.series_id }}</dd>
								<dd class="source">{{ item.source }}</dd>
								<dd class="reason">
									<input type="text">
								</dd>
								<dd class="details">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</dd>
								<dd class="operator">
									<button type="button" class="btn btn-primary operator-button" data-toggle="modal" data-target="#markerModal2"  v-on:click="getChosenId( item.design_no )">完成</button>
								</dd>
							</dl>
						</div>
                        <!-- 完成修改唛架Modal -->
                        <div class="modal fade" id="markerModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">完成修改唛架</h4>
                                    </div>
                                    <div class="modal-body">
                                    确定完成修改唛架吗?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="price-save-button" v-on:click="updateStatus(52, 'marker_finishadjust_time')">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div id="sample-grade" class="list-box" v-show="currentIndex === 6">
					<!--<div class="status-box" ms-controller="dubviewer">
						<div class="list-title">
							
						</div>
						<div class="list-detail table table-hover" ms-each="dress">
							
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	
	
<script src="./js/global.js"></script>
<script src="./tech/techdle.js"></script> 
</body>
</html>