/*下单表*/
#order-table .list-checkbox{
    width: 5%;
}
#order-table .receipt-no{
    width: 10%;
}
#order-table .operator-time{
    width: 15%;
}
#order-table .gender{
    width: 10%;
}
#order-table .series{
    width: 10%;
}
#order-table .source{
    width: 10%;
}
#order-table .details{
    width: 20%;
}
#order-table .operator{
    width: 20%;
}
